.DS_Store
StarRating.xcworkspace/xcuserdata/tom.xcuserdatad/UserInterfaceState.xcuserstate
StarRating.xcworkspace/xcuserdata/tom.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
StarRating/StarRating.xcodeproj/xcuserdata/tom.xcuserdatad/xcschemes/StarRating.xcscheme
StarRating/StarRating.xcodeproj/xcuserdata/tom.xcuserdatad/xcschemes/xcschememanagement.plist
